<body class="image">
  <br><br>
  <main role="main">

    <div class="container marketing">


      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" preserveAspectRatio="xMidYMid slice"
            focusable="false" role="img" aria-label="Placeholder: 140x140">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
            <image href="assets\images\post.jpg" height="140" width="140" />
          </svg>
          <h2>Post</h2>
          <p>Post your supply,demand or transport requirement advertisents with us.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" preserveAspectRatio="xMidYMid slice"
            focusable="false" role="img" aria-label="Placeholder: 140x140">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
            <image href="assets\images\bid.png" height="140" width="140" />
          </svg>
          <h2>Auction</h2>
          <p>Get a maximum value to your harvest through auctioning with us.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" preserveAspectRatio="xMidYMid slice"
            focusable="false" role="img" aria-label="Placeholder: 140x140">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
            <image href="assets\images\bid.jpg" height="140" width="140" />
          </svg>
          <h2>Bid</h2>
          <p>Decide your price for deals. Get the most profitable deal through bidding</p>

        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="bg-image"></div>
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Fresh fruits and vegetables.<span class="text-muted">No any chemical
              preservatives.</span></h2>
          <p class="lead">Prior deals from harvesting date gives you fresh fruits and vegetables direct from farm.
            So
            no
            chemical usage as preservatives</p>
        </div>
        <div class="col-md-5 order-md-1">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
            height="500"  focusable="false" role="img"
            aria-label="Placeholder: 500x500">
            <title>Placeholder</title>
            <rect style="padding: 0%;" width="100%" height="100%" fill="transparent" /><text x="50%" y="50%" fill="#FFF" dy=".3em">500x500</text>
            <image href="assets\images\pic1.jpg" height="500" width="500" />
          </svg>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Best price is <span class="text-muted">garanteed.</span></h2>
          <p class="lead">Buyer and farmer will decide the price. No intermediary.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
            height="500" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
            aria-label="Placeholder: 500x500">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="transparent" /><text x="50%" y="50%" fill="#FFF" dy=".3em">500x500</text>
            <image href="assets\images\farmer.jpg" height="500" width="500" />
          </svg>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Quality transport<span class="text-muted">conforms quality goods.</span>
          </h2>
          <p class="lead">Direct transport from farm minimise the wastage and protect the freshness of fruits and
            vegetables.</p>
        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
            height="500" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
            aria-label="Placeholder: 500x500">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="transparent" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
            <image href="assets\images\trans.jpg" height="500" width="500" />
          </svg>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->



    <!-- FOOTER -->
    <footer class="container">
      <p class="float-right"><a href="#">Back to top</a></p>

    </footer>


  </main>
</body>