<div class="card image" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{supplyAd.name}}</h5>
    <p class="card-text">{{supplyAd.des}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Unit Price:{{supplyAd.price}}</li>
    <li class="list-group-item">Quantity:{{supplyAd.quantity}}</li>
    <li class="list-group-item">Harvesting Date:{{supplyAd.hDate}}</li>
    <li class="list-group-item">Harvesting Date:{{supplyAd.eDate}}</li>
    <li class="list-group-item">Advertiser:{{supplyAd.advertiser}}</li>
    <li class="list-group-item">Advertiser's Contact No:{{supplyAd.contactNo}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>