<div class="image"><br><br>
<div class="card">
    <img src="img.jpg" style="width:100%">
    <h1>{{userdata.firstName}} {{userdata.lastName}}</h1>
    <p class="title">{{userdata.role}}</p>
    <p>District:{{userdata.district}}</p>
    <p>Address:{{userdata.address}}</p>
    <p>Contact no:{{userdata.contactNo}}</p>
    <p>email:{{userdata.email}}</p>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <p><button>Contact</button></p>
</div>
</div>