.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }

  .image{
    background-image:url('../../assets/images/image1.jpg');
    background-repeat: no-repeat;
    height:40em; background-size:cover; width:auto;
  }