<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">{{transportAd.vehicleType}}</h5>
    <p class="card-text">{{transportAd.des}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Pickup Location:{{transportAd.location}}</li>
    <li class="list-group-item">Destination:{{transportAd.destination}}</li>
    <li class="list-group-item">Package Type:{{transportAd.packageType}}</li>
    <li class="list-group-item">Product:{{transportAd.name}}</li>
    <li class="list-group-item">Quantity(in Kg):{{transportAd.quantity}}</li>
    <li class="list-group-item">Maximum Price per Km:{{transportAd.maxPrice}}</li>
    <li class="list-group-item">Date:{{transportAd.date}}</li>
    <li class="list-group-item">Advertiser:{{supplyAd.advertiser}}</li>
    <li class="list-group-item">Advertiser's Contact No:{{supplyAd.contactNo}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>