<div class="image"><br><br>
<table align ="center" class="table table-striped" style="width: 50%; background-color: rgb(245, 245, 245); border:2px solid black;">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Max Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Harvesting Date</th>
      <th scope="col">Expiry Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dem of demandAdService.demandAds">
      <td>{{dem.name}}</td>
      <td>{{dem.maxPrice}}</td>
      <td>{{dem.quantity}}</td>
      <td>{{dem.hDate}}</td>
      <td>{{dem.eDate}}</td>

      <td>
        <a class="btn btn-outline-info" (click)="onView(dem._id)">
          <i>view advertisement</i>
        </a>
        <a class="btn btn-outline-info">
          <i>Contact Buyer</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
</div>